/* Infinite Scroller */

.item {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;

  position: absolute;
  left: max(calc(200px * var(--number)), 200%);

  animation-name: scrollLeft;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  --duration: 20s;
  --number: 14;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  padding: 20px;
  overflow: hidden;

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item1 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 1) * -1
  );
}

.item2 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 2) * -1
  );
}

.item3 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 3) * -1
  );
}

.item4 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 4) * -1
  );
}

.item5 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 5) * -1
  );
}

.item6 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 6) * -1
  );
}

.item7 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 7) * -1
  );
}

.item8 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 8) * -1
  );
}

.item9 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 9) * -1
  );
}

.item10 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 10) * -1
  );
}

.item11 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 11) * -1
  );
}

.item12 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 12) * -1
  );
}

.item13 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 13) * -1
  );
}

.item14 {
  animation-delay: calc(
    var(--duration) / var(--number) * (var(--number) - 14) * -1
  );
}

img {
  max-width: 200px;
  max-height: 200px;
}

.aetna {
  width: 150px;
  height: 80px;
}

.cigna {
  width: 200px;
  height: 80px;
}

.clover {
  width: 120px;
  height: 120px;
}

.extra-info {
  display: flex;
  justify-content: center;
  color: gray;
  margin-top: 20px;
}

/* History Section */

.history {
  outline: auto;
  padding: 20px 50px;
}
