@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Stick+No+Bills&family=Amatic+SC:wght@700&family=DM+Mono:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  font-family: "Barlow Condensed", sans-serif;
  background: #a2ddde;
  color: #000;
  padding: 20px 0;
  margin-bottom: 10px;
}

header h1 {
  float: left;
  margin: 0;
  padding: 0 30px;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 30px;
  transition: transform 0.3s;
  position: relative;
  letter-spacing: 0.5px;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

header nav ul li a:hover::after {
  width: 100%;
}

header nav ul li a:hover {
  color: #007bff;
  transform: scale(1.05);
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  font-family: "Stick No Bills", sans-serif;
}

/* Content */

.about {
  padding: 40px 5%;
}

.about-title {
  padding: 20px;
  font-family: "Barlow Condensed", sans-serif;
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.about-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  animation: fadeIn 2s forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 0;
  transition: 0.5s;
}

.about-card::before {
  content: "";
  position: absolute;
  top: -5px; /* Adjust this value for border thickness */
  left: -5px; /* Adjust this value for border thickness */
  right: -5px; /* Adjust this value for border thickness */
  bottom: -10px; /* Adjust this value for border thickness */
  border-radius: 20px;
  z-index: -1;
  background: linear-gradient(45deg, #ff6f61, #de5d83, #9b51e0, #5a67d8);
}

.about-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 40px;
  z-index: -1;
}

.about-card:hover {
  transform: scale(1.05); /* Scale effect only */
}

.about-card h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.about-card h3 img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.about-card p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

@media (max-width: 740px) {
  header h1,
  header nav {
    float: none;
    text-align: center;
  }

  header nav ul li {
    display: grid;
    margin-left: 0;
    margin-bottom: 10px;
  }

  header nav ul li a {
    font-size: 20px;
    background-color: #8fcaca;
  }
}

@media (max-width: 768px) {
  #about .container {
    width: 95%;
  }

  #about h2 {
    font-size: 2.5em;
  }

  #about h3 {
    font-size: 1.8em;
  }

  #about p {
    font-size: 1em;
  }
}

@media (max-width: 1070px) {
  header h1,
  header nav {
    float: none;
    text-align: center;
  }

  .about {
    flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;
  }

  .pic {
    width: auto;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }
}

/* About Section Styling */
#about {
  background: #f8f9fa;
  padding: 50px 20px;
  font-family: "Barlow Condensed", sans-serif;
  color: #333;
}

#about .container {
  width: 80%;
  margin: auto;
}

#about h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}

#about h3 {
  font-size: 2em;
  color: #343a40;
  margin-bottom: 10px;
}

#about p {
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.6;
}

#about a {
  color: #007bff;
  text-decoration: none;
}

#about a:hover,
#about a:focus {
  text-decoration: underline;
}

.history,
.awards-ratings,
.expertise {
  margin-bottom: 30px;
}

.history p,
.awards-ratings p,
.expertise p {
  margin-bottom: 10px;
}

/* Back to Top Btn */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #587594;
  color: #fff;
  padding: 10px 15px;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
}

.back-to-top:hover,
.back-to-top:focus {
  background-color: #0056b3;
}

html {
  scroll-behavior: smooth;
}
