@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Stick+No+Bills&family=Amatic+SC:wght@700&family=DM+Mono:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header {
  font-family: "Barlow Condensed", sans-serif;
  background: #a2ddde;
  color: #000000;
  padding: 20px 0;
  margin-bottom: 10px;
}

header h1 {
  float: left;
  margin: 0;
  padding: 0 30px;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 30px;
  transition: transform 0.3s;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  font-family: "Stick No Bills", sans-serif;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #587594;
  color: #fff;
  padding: 10px 15px;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
}

.back-to-top:hover,
.back-to-top:focus {
  background-color: #0056b3;
}

@media (max-width: 740px) {
  header h1,
  header nav {
    float: none;
    text-align: center;
  }

  header nav ul li {
    display: grid;
    margin-left: 0;
    margin-bottom: 10px;
  }

  header nav ul li a {
    font-size: 20px;
    background-color: #8fcaca;
  }
}

@media (max-width: 1070px) {
  header h1,
  header nav {
    float: none;
    text-align: center;
  }
}

.office-info,
.appointment-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;
}
.office-info h2,
.appointment-form h2 {
  margin-top: 0;
}
.office-info p,
.appointment-form label {
  font-weight: bold;
}
.appointment-form input,
.appointment-form select,
.appointment-form textarea {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.appointment-form textarea {
  width: 100%;
}
.appointment-form button {
  background-color: #5bc0de;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.appointment-form button:hover {
  background-color: #31b0d5;
}
