@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Stick+No+Bills&family=Amatic+SC:wght@700&family=DM+Mono:wght@300;400;500&display=swap");

/* Basic Formatting | Setting Everything up */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Container Styling */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Footer Styling */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  font-family: "Stick No Bills", sans-serif;
}

/* Media Queries | Responsive */
@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .about {
    flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;
  }

  .pic {
    padding: 20px 0;
  }
}

@media (max-width: 1070px) {
  .about {
    flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;
  }
}

@media (max-width: 740px) {
  header h1,
  nav {
    float: none;
    text-align: center;
  }

  header nav ul li {
    display: grid;
    margin-left: 0;
    margin-bottom: 10px;
  }

  header nav ul li a {
    font-size: 20px;
    background-color: #8fcaca;
  }

  .hamburger {
    display: block;
  }

  header nav {
    display: none;
  }
}

@media (max-width: 2000px) {
  .hamburger {
    display: none;
  }
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background: linear-gradient(to right, #007bff, #0056b3);
  color: #fff;
}

.hero-content {
  max-width: 50%;
  margin-left: 300px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 1rem;
  transition: 0.3s;
  font-size: 20px;

  background: linear-gradient(to right, #ff6200 50%, #a5cefa 50%);
  background-size: 200%;
  background-position: 0 50%;
}

.btn:hover {
  transform: scale(1.1);
  background-position: 100% 50%;
  color: black;
  outline: 5px royalblue solid;
}

.pic img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 200px;
  transition: 0.5s;
}

.pic img:hover {
  transform: scale(1.03);
}

/* About Section */
.about {
  padding: 50px;
  background-color: #d5f5f9;
}

.about-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.about-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.about-card:hover {
  transform: translateY(-10px);
  background-color: royalblue;
  color: white;
  fill: white;

  .svg {
    filter: invert(95%) sepia(100%) saturate(18%) hue-rotate(338deg)
      brightness(105%) contrast(105%);
  }
}

.about-card img {
  width: 50px;
  margin-bottom: 10px;
}

.about-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-card p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Testimonials Section */
.testimonials {
  padding: 50px;
  background-color: #f8f9fa;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.testimonial:hover {
  transform: scale(1.1);
}

.testimonial img {
  width: 50px;
  margin-bottom: 10px;
}

.testimonial h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 1rem;
}

/* Contact Section */
.contact-section {
  padding: 50px;
  background-color: #eaf7ff;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.contact-info {
  flex: 1 1 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background: white;
  outline: 5px solid royalblue;
  text-decoration: none;
  color: royalblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  text-align: center;
}

.contact-button:hover {
  background-color: #0056b3;
  color: white;
}

/* Hamburger Menu Styling */

.hamburger {
  position: fixed;
  left: 95%;
  top: 3%;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  transition: 0.5s;
  float: left;
  z-index: 6;
}

.hamburger:hover::after {
  transform: translateY(4px);
}

.hamburger:hover::before {
  transform: translateY(-4px);
}

.hamburger:hover .bar {
  transform: scale(1.009);
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(36, 47, 81);
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 1rem;
}

.hamburger.is-active::before {
  transform: rotate(135deg) translate(7px, -8px);
  transition: 0.4s;
  z-index: 4;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
  transition: 0.4s;
  z-index: 4;
}

.hamburger.is-active .bar {
  opacity: 0;
  transition: 0.4s;
  z-index: 4;
}

/* Mobile Navigation Styling */

.mobile-nav {
  display: block;
  position: fixed;
  left: 100%;
  width: 250px;
  top: 10%;
  height: fit-content;
  padding-top: 20px;
  background-color: #7aa4d1;
  transition: 0.4s;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.mobile-nav.is-active {
  left: calc(100% - 250px);
  box-shadow: 2px 0 50px rgba(0, 0, 0, 0.5);
  z-index: 98;
}

.mobile-nav a {
  display: block;
  text-align: center;
  max-width: 200px;
  width: 100%;
  margin: 0 auto 16px;
  padding: 12px 16px;

  background: linear-gradient(to right, lightblue 50%, royalblue 50%);
  background-size: 200%;
  background-position: 0 50%;

  color: black;
  text-decoration: none;
  transition: 0.7s;
  border-radius: 1rem;

  font-size: 20px;
  font-family: "Stick No Bills", sans-serif;
}

.mobile-nav a:hover {
  background-position: 100% 50%;
  color: white;
}

/* Back to Top Btn */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #587594;
  color: #fff;
  padding: 10px 15px;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
}

.back-to-top:hover,
.back-to-top:focus {
  background-color: #0056b3;
}

html {
  scroll-behavior: smooth;
}

.mobile-nav a img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 10px;
}

/* End of "Back to Top Btn */
