@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Stick+No+Bills&family=Amatic+SC:wght@700&family=DM+Mono:wght@300;400;500&display=swap");

/* Review Carousel Styling */
.carousel {
  height: 700px;
  margin: 30px;
  padding-top: 70px;
  padding-bottom: 50px;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 0.5fr 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 0.5fr;
  align-items: center;
  justify-items: center;
}

.stars {
  font-weight: bold;
  color: #ffd700; /* Gold color */
  font-size: 18px;
  outline: auto;
  border-radius: 1rem;
  padding: 3px 2px;
  align-self: center;
  width: 50px;
}

.review-date {
  font-size: 1.1em;
  color: #666;
}

.review-header {
  display: inline;
}

.review-text {
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;

  align-self: center;
  justify-content: center;
}

.item {
  display: flex;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 13;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 900px;
  --items: 9;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  border-radius: 1rem;
  width: 50%;
  height: 80%;
  padding: 20px 30px;
  background-color: white;
  font-family: "Stick No Bills", sans-serif;
  font-size: large;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  border: 5px black;
  border-style: ridge;
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}
div.item:nth-of-type(4) {
  --offset: 4;
}
div.item:nth-of-type(5) {
  --offset: 5;
}
div.item:nth-of-type(6) {
  --offset: 6;
}
div.item:nth-of-type(7) {
  --offset: 7;
}
div.item:nth-of-type(8) {
  --offset: 8;
}
div.item:nth-of-type(9) {
  --offset: 9;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

input:nth-of-type(6) {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ main#carousel {
  --position: 6;
}

input:nth-of-type(7) {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}
input:nth-of-type(7):checked ~ main#carousel {
  --position: 7;
}

input:nth-of-type(8) {
  grid-column: 9 / 10;
  grid-row: 2 / 3;
}
input:nth-of-type(8):checked ~ main#carousel {
  --position: 8;
}

input:nth-of-type(9) {
  grid-column: 10 / 11;
  grid-row: 2 / 3;
}
input:nth-of-type(9):checked ~ main#carousel {
  --position: 9;
}

/* Right and Left Buttons */

.left-btn,
.right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: none;
  border: none;
  padding: 20px;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
}

.left-btn img,
.right-btn img {
  width: 20px;
  height: 20px;
}

.left-btn {
  left: 20px;
}

.right-btn {
  right: 20px;
  z-index: 120;
}

.left-btn:hover,
.right-btn:hover {
  transform: translateY(-100px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-important: #1d3557;
  --primary-bg: #ffffff;
  --secondary-nav: #457b9d;
  --secondary-hover: #0056b3;
  --secondary-shades: #f1faee;
  --accent-highlight: #ff6200;
  --accent-golden: #e9c46a;

  --font-family: "Barlow Condensed", sans-serif;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header and Footer Styles */
header {
  font-family: var(--font-family);
  background: var(--primary-important);
  color: var(--primary-bg);
  padding: 20px 0;
  margin-bottom: 10px;
}

header h1 {
  float: left;
  margin: 0;
  padding: 0 30px;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: var(--primary-bg);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 30px;
  transition: transform 0.3s;
  position: relative;
  letter-spacing: 0.5px;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  background-color: var(--accent-highlight);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

header nav ul li a:hover::after {
  width: 100%;
}

header nav ul li a:hover {
  color: var(--accent-golden);
  transform: scale(1.05);
}

footer {
  background: var(--primary-important);
  color: var(--primary-bg);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: var(--font-family);
}

/* Back to Top Btn */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: var(--secondary-nav);
  color: var(--primary-bg);
  padding: 10px 15px;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
}

.back-to-top:hover,
.back-to-top:focus {
  background-color: var(--secondary-hover);
}

html {
  scroll-behavior: smooth;
}
/* End of "Back to Top Btn */

@media (max-width: 740px) {
  header h1,
  header nav {
    float: none;
    text-align: center;
  }

  header nav ul li {
    display: none;
  }

  header nav ul li a {
    font-size: 20px;
  }

  div.item {
    width: 30%;
    height: 60%;
  }
}

@media (max-width: 1070px) {
  header h1,
  header nav {
    float: none;
    text-align: center;
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1300px) {
  .big-carousel {
    display: none;
  }

  .hidden-reviews {
    display: block;
  }
}

.hidden-item {
  border-radius: 1rem;
  padding: 30px;
  outline: auto;
  margin: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: block !important;
}

.hidden-item .hidden-stars {
  font-weight: bold;
  color: #ffd700; /* Gold color */
}

.hidden-item .hidden-date {
  font-size: 1em;
  color: #666;
}

.hidden-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.hidden-text {
  font-size: 1.3em;
  line-height: 1.5;
  color: #333;
}
