@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Stick+No+Bills&family=Amatic+SC:wght@700&family=DM+Mono:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  font-family: "Barlow Condensed", sans-serif;
  background: #a2ddde;
  color: #000000;
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #a2ddde, #587594) 1;
}

header h1 {
  float: left;
  margin: 0;
  padding: 0 30px;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 30px;
  transition: transform 0.3s;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  font-family: "Stick No Bills", sans-serif;
}

/* Back to Top Btn */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #587594;
  color: #fff;
  padding: 10px 15px;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
}

.back-to-top:hover,
.back-to-top:focus {
  background-color: #0056b3;
}
/* End of "Back to Top Btn */

/* Review Carousel Styling */
.carousel {
  height: 600px;
  margin: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.stars {
  font-weight: bold;
  color: #ffd700; /* Gold color */
  font-size: 18px;
  outline: auto;
  border-radius: 1rem;
  padding: 3px 2px;
  align-self: center;
}

.review-date {
  font-size: 1.1em;
  color: #666;
}

.review-text {
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 800px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  border-radius: 1rem;
  width: 400px;
  height: 500px;
  padding: 20px 30px;
  background-color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: large;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  border: 5px black;
  border-style: ridge;
}

div.item::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 15px;
  z-index: -1;

  box-shadow: 0px 0px 10px black;
}

div.item:hover {
  transform: scale(1.05) rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  box-shadow: 0px 0px 20px #587594;
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}
div.item:nth-of-type(4) {
  --offset: 4;
}
div.item:nth-of-type(5) {
  --offset: 5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

/* Media Queries */
@media (max-width: 740px) {
  header h1,
  header nav {
    float: none;
    text-align: center;
  }

  header nav ul li {
    display: grid;
    margin-left: 0;
    margin-bottom: 10px;
  }

  header nav ul li a {
    font-size: 20px;
    background-color: #8fcaca;
  }
}

@media (max-width: 1070px) {
  header h1,
  header nav {
    float: none;
    text-align: center;
  }
}
