/* Services Section */
.services {
  background: #f8f9fa;
  padding: 50px 20px;
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  animation: fadeIn 2s forwards;
}

.services h2 {
  font-size: 2.5em;
  color: #343a40;
  text-align: center;
  margin-bottom: 20px;
}

.services .service-item {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.5s ease;
  overflow: hidden; /* prevent content overflow */
}

.service-item:hover {
  transform: scale(1.03);
  transform: translateY(-10);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
}

.services .service-item h3 {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 10px;
}

.services .service-item p {
  font-size: 1.2em;
  color: #6c757d;
}

.services .resource-item {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.5s ease;
  overflow: hidden; /* prevent content overflow */

  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ensures button is at the end */
  align-items: center; /* Center the content horizontally */
}

.resource-item:hover {
  transform: scale(1.03);
  transform: translateY(-10);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
}

.services .resource-item h3 {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 10px;
}

.services .resource-item p {
  font-size: 1.2em;
  color: #6c757d;
}

/* Button Styling */
.resource-btn {
  background-color: #007bff;
  border: none;
  outline: ;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  font-size: 1.3em;
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.resource-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resource-btn:focus {
  outline: none;
}

/* Responsive */
@media (max-width: 768px) {
  .services {
    padding: 20px 10px;
  }
  .services h2 {
    font-size: 2em;
  }
  .services .service-item,
  .services .resource-item {
    padding: 15px;
  }
  .services .service-item h3,
  .services .resource-item h3 {
    font-size: 1.5em;
  }

  .services .service-item h3 {
    text-align: center;
  }

  .services .service-item p,
  .services .resource-item p {
    display: none;
  }
}
